CONFIG_BUILD_TYPE_W802=y
CONFIG_COMPILER_OPTIMIZE_LEVEL_O0=y
CONFIG_WM_PARTITION_TABLE_CUSTOMIZATION=y
CONFIG_COMPONENT_DRIVER_PSRAM_ENABLED=y
CONFIG_COMPONENT_DRIVER_SDMMC_ENABLED=y
CONFIG_COMPONENT_DRIVER_SDSPI_ENABLED=y
CONFIG_COMPONENT_DRIVER_TFT_LCD_ENABLED=y
CONFIG_COMPONENT_DRIVER_ADC_ENABLED=y
CONFIG_COMPONENT_DRIVER_I2C_ENABLED=y
CONFIG_COMPONENT_MQTT_ENABLED=y
CONFIG_COMPONENT_CLI_ENABLED=y
# CONFIG_CLI_COMMANDS_WIFI is not set
# CONFIG_CLI_COMMANDS_LWIP is not set
CONFIG_COMPONENT_OTA_ENABLED=y
CONFIG_COMPONENT_OTA_HTTP_ENABLED=y
CONFIG_COMPONENT_WIFI_ENABLED=y
